.leaflines {
	overflow: hidden;
	background: #0b0a27;
	transform: translateZ(0)
}

.section.business .leaflines .leafline {
	background-color: #0b0a27;
	background-image: url(/file/25ee05a01f335c37d7cb1c04a72478b7.png);
	background-repeat: repeat-x;
	background-position: 50% 50%;
	width: 200%;
	position: relative;
	will-change: transform;
	height: 60px;
	animation: 3.6s linear 0s infinite leafline;
	left: -100%
}

@keyframes leafline {
	from {
		transform: translateX(0)
	}
	to {
		transform: translateX(135px)
	}
}

.section.business .leaflines .leafline.l2 {
	animation-duration: 2s
}

.section.business .leaflines .leafline.l3 {
	animation-duration: 2.5s
}

.section.business .leaflines .leafline.l4 {
	animation-duration: 3s
}

.section.business .leaflines .leafline.l5 {
	animation-duration: 1.5s
}

.section.business .leaflines .leafline.l6 {
	animation-duration: 4s
}